* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #f6b26b;
  --text-color: #333;
  --font-main: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #D39C2A;
  font-weight: 600;
  font-size: 20px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a.active {
  color: #D39C2A;
  border-bottom: 2px solid #D39C2A;
  padding-bottom: 3px;
}

.nav-links a:hover {
  color: #D39C2A;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 6px;
  padding: 8px 20px;
  transition: 0.3s;
}

.btn.signin {
  background-color: #F5B25F;
  color: white;
}

.btn.signup {
  background-color: transparent;
  border: 1px solid #F5B25F;
  color: #F5B25F;
}

.btn.signup:hover {
  background-color: #F5B25F;
  color: white;
}

/* Responsive */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #D39C2A;
}

@media (max-width: 850px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #fff;
    text-align: center;
    display: none;
    border-top: 1px solid #eee;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .menu-toggle {
    display: block;
  }

  .auth-buttons {
    display: none;
  }
}

.highlight-bg {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  z-index: 1;
}

.highlight-bg::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px; /* jarak antara teks dan highlight */
  width: 100%;
  height: 40%; /* tinggi highlight */
  background-color: #f4a300;
  border-radius: 20px;
  z-index: -1;
}
